# object file
*.o
# shared library
*.a 
#dynamic library
*.la

*.swp
#dep
.deps/
.dirtamp/

#Makefile
Makefile*
!Makefile.am

#autoconf
aclocal.m4
autom4te.cache/
build-aux/
config*
libtool
!configure.ac


#target
target
