# object file
*.o
# shared library
*.a 
#dynamic library
*.la
# Libtool object
*.lo

*.swp
#dep
.deps/
.dirstamp

#Makefile
Makefile*
!Makefile.am

#autoconf
aclocal.m4
autom4te.cache/
build-aux/
m4/
autoscan.log
config*
libtool
stamp-h1
!configure.ac


#target
target
